<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kii.kiibook.Student"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/KiiTheme" >
        
        <receiver android:name=".AppWatcher" >
            <intent-filter>
                <action android:name="kii.falconeye.start" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CommunicationService"
            android:enabled="true" />

        <activity
            android:name="kii.kiibook.Agenda.AgendaActivity"
            android:icon="@android:drawable/ic_menu_agenda"
            android:label="Agenda" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kii.kiibook.ParentalControl.PermissionsExternal"
            android:icon="@android:drawable/ic_dialog_alert"
            android:label="@string/title_activity_external" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kii.kiibook.KiiClass.InitActivity"
            android:icon="@android:drawable/ic_delete"
            android:label="@string/title_activity_classmode"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kii.kiibook.KiiClass.MainActivity"
            android:icon="@android:drawable/ic_delete"
            android:label="@string/title_activity_classmode" >
        </activity>
        <activity
            android:name="kii.kiibook.Friends.FriendActivity"
            android:icon="@android:drawable/ic_dialog_info"
            android:label="@string/title_activity_friend" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kii.kiibook.ParentalControl.PasswordDialog"
            android:label="@string/title_activity_password"
            android:noHistory="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        
        <activity
            android:name="kii.kiibook.ParentalControl.NotifDialog"
            android:label="Aplicação bloqueada!"
            android:noHistory="true"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />

        <service
            android:name="kii.kiibook.ParentalControl.FalconEyeService"
            android:process=":myProcess"
            android:exported="false" >
            <intent-filter>
                <action android:name="kii.kiibook.ParentalControl.FalconEyeService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>